@font-face {
  font-family: "Caros";
  src: url("./assets/fonts/caros/cretype\ \ Caros.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
body {
  margin: 0;
  background-color: #f8f7f1;
  font-family: "Caros", sans-serif;
  font-weight: 400; /* or other available weight */
}
